@page

@{
    Layout = "_FullLayout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/mainStyle.css" asp-append-version="true"/>
}
<body>
<a asp-controller="Home" asp-action="Index">Go Home</a>
<div class="sise-source">
    <a>Spotify</a>
    <a>SoundCloud</a>
</div>
</body>