@page

@{
    Layout = "_FullLayout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/mainStyle.css" asp-append-version="true"/>
}
<body>
<a asp-controller="Home" asp-action="Index">Go Home</a>
<h2>Songs</h2>
<ul id="suggestions" class="hidden"></ul>
</body>
@section Scripts
{
    <script src="~/js/MainIndexScript.js"></script>
}
