@page

@{
    Layout = "_FullLayout";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/mainStyle.css" asp-append-version="true"/>
}
<body>
    <div id="main-site-div">
        <a asp-controller="Home" asp-action="Index">Go Home</a>
        <h2>Songs</h2>
        <ul id="suggestions" class="hidden"></ul>

        <h2>Playlists</h2>
        <ul id="suggestions-playlists" class="gridPlayList hidden"></ul>
    </div>
    <div id="playlists-music-div" class="hidden">
        <div class="infoAboutPlaylistMainDiv">
            <img id="playlist-image">
            <div class="infoAboutPlaylistTextDiv">
                <h3 id="playlist-name"></h3>
                <h5 id="playlist-artist"></h5>
            </div>
        </div>
        <div class="controll-panel-playlist">
            <button class="button-control-playlist"><img id="play-button-playlist" src="/img/mediaControlImages/video-player.png" alt="play-playlist"></button>
            <button class="button-control-playlist"><img class="normal-image" src="/img/mediaControlImages/plus.png" alt="add-playlist"></button>
            <button class="button-control-playlist"><img class="normal-image" src="/img/mediaControlImages/share.png" alt="share-playlist"></button>
            <button class="button-control-playlist"><img class="normal-image" src="/img/mediaControlImages/equalizer.png" alt="settings-playlist"></button>
        </div>
        <ul id="suggestions-playlists-music"></ul>
    </div>
</body>
@section Scripts
{
    <script src="~/js/MainIndexScript.js"></script>
}
