@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="css/homeStyle.css"/>
}
<div class="home-container">
    <section class="one">
        <div class="home-inner-containers" style="background: #ffffff">
            <h1 class="display-5">Welcome to Music site!</h1>
        </div> 
    </section>
    <section class="two">
        <div style="background: #ffffff;" class="home-inner-containers grid-wrapper">
            <div class="div1"> </div>
            <div class="div2"> </div>
            <div class="div3"> </div>
            <div class="div4"> </div>
            <div class="div5"> </div>
            <div class="div6"> </div>
        </div>     
    </section>
    <section class="three">
        <div class="home-inner-containers">Three Page</div>
    </section>
    <section class="four">
        <div class="home-inner-containers">Four Page</div>
    </section>
</div>
