@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="css/homeStyle.css"/>
}
<div class="home-container">
    <div style="background: #a6b5cc;" class="home-inner-containers">
        <h1 class="display-5">Welcome to Music site!</h1>
    </div>
    <h1 class="display-5">Welcome to Music site!</h1>

    <a asp-controller="HomeMusic" asp-action="Index">Start Listen</a>
</div>
