html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
}
body {
    overflow-x: hidden;
    background: black;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}


.music-player {
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 10vh;

    background: black

}

.music-info {
    margin-left: 2%;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 180px;
}

.song-cover {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.music-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.music-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 4px;
}

.music-controls button {
    display: flex;  
    align-items: center;
    justify-content: center;  
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 15%;
    background: black;
    color: #ff8cf7;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s;
}


.music-controls button img, .music-volume button img {
    width: 30px;
    height: 30px;
    display: block;
}
.music-volume button{
    background: black;
    border: none;
}
.music-controls button:hover {
    transform: scale(1.2);
    color: #ffb6ff;
}

.music-progress {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.progress-bar {
    width: 100%;
    accent-color: #ff8cf7;
}

.music-volume {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 10%;
}

.volume-bar {
    width: 80px;
    accent-color: #ff8cf7;
}