.main-div{
    width: 100%;
    height: 100%;
    position: relative;
    transition: background 0.4s ease, box-shadow 0.4s ease;

    background: rgba(243, 243, 243, 0.08);
    backdrop-filter: blur(25px);
/*    border: 1px solid rgba(117, 104, 124, 0.15);*/
    border-radius: 10px;
}