.main-div {
    width: 100%;
    height: 100%;
    position: relative;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    max-width: 100%;
    max-height: 100%;
    background: rgba(243, 243, 243, 0.08);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    overflow: hidden;
}
main {
    display: flex;
    height: 90vh;
    max-height: 90vh;
    flex-direction: row;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}