.playlist-div{
    height: 100%;
    width: 100%;
    max-width: 25vh;
    min-width: 10vh;
    margin: 10px;
    
    transition: all 0.4s ease;
    background: rgba(224, 163, 255, 0.08);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(224, 163, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 12px 100px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.1);
}