.right-panel-container {
    display: flex;
    height: 100%;
    position: relative;
    justify-content: flex-end;
}

.music-signer-div {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    margin-left: 9px;
    position: relative;
    transition: background 0.4s ease, box-shadow 0.4s ease;
    background: rgba(243, 243, 243, 0.08);
    backdrop-filter: blur(25px);
/*    border: 1px solid rgba(117, 104, 124, 0.15);*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    resize: none;
}

.resize-handle-right {
    position: absolute;
    top: 0;
    margin-top: 10px;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: w-resize;
    transition: all 0.3s ease;
    border-radius: 6px;
    opacity: 0; 
    z-index: 10;
}
.music-signer-div img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.music-signer-div p{
    padding-left: 10px;
}