header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;

    background: black;

    overflow: visible;
    z-index: 9999;
}

.search-input {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input input {
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 2.8rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 1px rgba(89, 85, 89, 0.2);
    box-sizing: border-box;
}

.search-input input::placeholder {
    color: rgba(251, 251, 251, 0.5);
}

.search-input input:focus {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 8px rgba(126, 125, 126, 0.6);
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.search-input input:focus + .search-icon {
    stroke: #787878;
}