@{
    Layout = "_LayoutMusicHome";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/fullLayoutStyle.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
}

@await Html.PartialAsync("_LayoutMusicUpperSidePanel")
<main>
    @await Html.PartialAsync("_LayoutMusicLeftSidePanel")
    <div class="main-div">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_LayoutMusicRightSidePanel")
</main>
@await Html.PartialAsync("_LayoutMusicBottomSidePanel")

@section Scripts
{
    @await RenderSectionAsync("Scripts", required: false)
}
