@{
    Layout = "_LayoutMusicHome";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/rightPanelStyle.css" asp-append-version="true"/>
}

<div class="right-panel-container">
    <div class="resize-handle-right" id="resize-line-right"></div>
    <div class="music-signer-div" id="resizable-right">
        <img id="track-image-right-panel" alt="Song" src=""/>
        <h2 id="track-name-right-panel"> Name Track</h2>
        <p id="track-artists-right-panel">Artists</p>
    </div>
</div>

@section Scripts{
    <script src="~/js/RightSideScript.js"></script>
}