@{
    Layout = "_LayoutMusicHome";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/upperPanelStyle.css" asp-append-version="true"/>
}
<header>
    <button id="home-button"><img src="/img/home.png" /></button>
    <div class="search-input">
            <input id="search" type="text" placeholder="Search for songs, artists, or albums..."/>
        
            <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" viewBox="0 0 24 24" fill="none">
                <path d="M21 21l-4.35-4.35m1.85-5.15a7 7 0 11-14 0 7 7 0 0114 0z"
                      stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
    </div>
</header>
@section Scripts
{
    <script src="~/js/UpperSideScript.js"></script>
}