@{
    Layout = "_LayoutMusicHome";
}
@section Styles{
    <link rel="stylesheet" href="~/css/bottomPanelStyle.css" asp-append-version="true"/>
}
<div class="music-player">
    <div class="music-info">
        <img alt="Cover" id="image-track-bottom-panel" class="song-cover">
        <div>
            <h4 id="name-track-bottom-panel" class="song-title">Blinding Lights</h4>
            <p id="artist-bottom-panel" class="song-artist">The Weeknd</p>
        </div>
    </div>

    <div class="music-center">
        <div class="music-controls">
            <button class="prev-btn" id="play-previous-track-button"><img src="/img/mediaControlImages/icons8-rewind-50.png"></button>
            <button class="play-btn" id="play-track-button"><img id="play-track-button-image" src="/img/mediaControlImages/icons8-play-50.png"></button>
            <button class="next-btn" id="play-next-track-button"><img src="/img/mediaControlImages/icons8-fast-forward-50.png"></button>
            <button class="loop-btn" id="play-loop-track-button"><img src="/img/mediaControlImages/icons8-repeat-50.png"></button>
        </div>

        <div class="music-progress">
            <span id="progress-lenght-track" class="time current">0:00</span>
            <input id="play-track-input" type="range" min="0" max="100" value="0" class="progress-bar">
            <span id="end-lenght-track" class="time total">0:00</span>
            <audio id="track-player" preload="metadata"></audio>
        </div>
    </div>

    <div class="music-volume">
        <button id="track-volume-button"><img class="image-control-media" id="track-volume" src="/img/mediaControlImages/icons8-no-audio-50.png"></button>
        <input id="volume-track-input" type="range" min="0" max="100" value="5" class="volume-bar">
    </div>
</div>
@section Scripts
{
    <script src="~/js/BottomSideScript.js"></script>
}
