@{
    Layout = "_LayoutMusicHome";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/rightPanelStyle.css" asp-append-version="true"/>
}

<div class="right-panel-container">
    <div class="resize-handle-right" id="resize-line-right"></div>
    <div class="music-signer-div" id="resizable-right">
        <img id="track-image-right-panel" alt="Song" src=""/>
        <a id="a-href-track-name"><h2 id="track-name-right-panel"></h2></a>
        <div id="track-artists-div">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/RightSideScript.js"></script>
}